
* {
 margin: 0;
 padding: 0;
}

#root {
  height: 100%;
  
}

#header {
  grid-area: _header;
  height: 60px;
  display: flex;
  padding: 5px 5px;
  align-items: center;
  justify-content: space-between;
}

#aside {
  grid-area: _aside;
  width: 130px;
  background-color: rgb(226,226,226);
}

#main {
  grid-area: _main;
  height: 100%;
}

#layout {
 display: grid;
 grid-template-columns: 130px 1fr;
 grid-template-rows: 60px 1fr;
 grid-template-areas: '_aside _header' '_aside _main';
}

#menuIcon { 
  display: none; 
}

@media (max-width: 600px) {
 
  #layout {
   grid-template-areas: '_header _header' '_main _main';
  }
  
  #menuIcon {
   display: block;
  }

  #aside {
    display: none;
  }
}
